.container {
    width: 60%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #00563B;
}
form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px; /* Ensures space between form fields */
}
button {
    padding: 10px 20px;
    background-color: #00563B;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #003f2b;
}
.navbar a {
    outline: none;
}
.navbar a:focus {
    outline: none;
    box-shadow: none;
    background-color: #f0f0f0;
}